{% extends "base.html" %}
{% block content %}
	<!-- Start Home Section -->
	<section id="home" class="home-area hero-equal-height section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 offset-lg-2 col-md-12">
					<div class="home-content z-index position-relative">
						<h3>Made By 吴翌轩</h3>
						<h1>loshop@163.com</h1>
						<p></p>
                      <p class="white">Web 使用Python下flask库搭配nginx反向代理部署</p>
                      <p class="white">面板使用mcsmanager</p>
                      <p class="white">MC服务器使用spigot搭配Gynmap映射地图</p>
						<div class="home-button-box">
							<a href="http://github.com/bennyloshop" class="button home-btn-1 js-scroll">Github</a>
							<a href="http://kkgithub.com/bennyloshop" class="button home-btn-2">Github（加速）</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}