{% extends "base.html" %}
{% block content %}

	<!-- Start Home Section -->
	<section id="home" class="home-area hero-equal-height section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 offset-lg-2 col-md-12">
					<div class="home-content z-index position-relative">
						<h3>MC Java一键启动客户端下载</h3>
						<p></p>
						<div class="home-button-box">
							<a href="/client_download" class="button home-btn-1 js-scroll">下载(client.zip)</a>
							<a href="/net_download" class="button home-btn-2">下载.Net4</a>
						</div>
						

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Home Section -->
    <!-- Start About Section -->
	<section id="about" class="about-area bg-gray section-padding">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="about-image-wrapper">
						<img src="static/image/mcpe.jpg" alt="About image">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="about-content">
						<div class="about-content-text">
							<h5>Java版服务器ip</h5>
							<h2>127.0.0.1:25565</h2>
							<p>请使用Java 1.18客户端进入（允许离线模式）</p>
							<h5>基岩版服务器ip</h5>
							<h2>127.0.0.1:5600</h2>
							<p>请使用MCforWindows10/11或MCPE客户端进入</p>
							<a href="minecraft://?addExternalServer=LoshopMCServer|127.0.0.1:5600" class="button">添加到我的服务器</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->
{% endblock %}