{% extends "base.html" %}
{% block content %}
<!-- Start Home Section -->

<script>
        function btnSendData() {
            var input = {
                'name': document.getElementById('iname').value,

            };
            $.ajax({
                url: '/new_api',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(input),
                success: function (res) {
                    console.log(res);
					var element = document.getElementById("ret");
                    element.className = res.c;
					document.getElementById('iname').value="";
					$('#ret').html(res.t)
                }
            });
        }
    </script>
	<section id="home" class="home-area hero-equal-height section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 offset-lg-2 col-md-12">
					<div class="home-content z-index position-relative">
						<h3>请输入要注册的游戏名</h3>
						<h1></h1>
						<p></p>
						<div class="home-button-box">

                          <form action="/new" method="post">
    <p>游戏名：<input type="text" name="name" class="inputText" id="iname"></p>
    <p><input type="button" value="提交" class="button home-btn-2"  onclick="btnSendData()"></p>
    <h7 class="{{color}}" id="ret">{{result}}</h7>
</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Home Section -->
    <!-- Mini Feature Section Start -->
	<section id="mini-feature" class="mini-feature-area bg-gray pt-70 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="single-mini-feature">
						<div class="mini-feature-icon">	<i class="ti-stats-up"></i>
						</div>
						<div class="mini-feature-info">
							<h6>自助注册方便快捷</h6>
							<p>无论您使用Java或是基岩客户端，您只需要在此输入你的游戏名即可完成注册</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="single-mini-feature">
						<div class="mini-feature-icon">	<i class="ti-user"></i>
						</div>
						<div class="mini-feature-info">
							<h6>这让我们更加安全</h6>
							<p>我们可以跟好的保护玩家的游戏成果</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="single-mini-feature">
						<div class="mini-feature-icon">	<i class="ti-game"></i>
						</div>
						<div class="mini-feature-info">
							<h6>我们点到为止</h6>
							<p>您只要完成注册即可放心游玩</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="single-mini-feature">
						<div class="mini-feature-icon">	<i class="ti-money"></i>
						</div>
						<div class="mini-feature-info">
							<h6>我们为爱发电</h6>
							<p>您在此注册是完全免费的</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Mini Feature Section End -->
{% endblock %}